body {
  margin: 0;
  background-color: #272727;
  color: rgb(160, 160, 255);
  font-family: sans-serif;
  height: 100vh;
  color-scheme: light dark;
}

#app {
  display: flex;
}

h1 {
  margin: 0;
}

button {
  background-color: transparent;
  border: 1px solid white;
  color: white;
  border-radius: 8px;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  color: white;
}

button:hover {
  cursor: pointer;
  background-color: #1a1a1a;
}

header {
  display: flex;
  align-items: center;
  padding: 10px 20px;
}

header div {
  display: flex;
  align-items: center;
  gap: 10px;
}

header h1 {
  padding: 8px;
  background-color: #1a1a1a;
  border-radius: 16px;
}

.explorer {
  box-sizing: border-box;
  margin: 0;
  list-style: none;
  padding: 20px;
  min-height: 88vh;
  gap: 2px;
  display: flex;
  flex-direction: column;
  min-width: 325px;
}

.explorer .topbuttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 8px 0;
}

.explorer .topbuttons button {
  font-size: 18px;
  display: flex;
  gap: 4px;
}

.explorer li {
  padding: 8px;
  border-radius: 10px;
  gap: 8px;
  font-size: 18px;
}

.explorer li > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.explorer li:hover {
  background-color: #1a1a1a;
  cursor: pointer;
}

.explorer input {
  background-color: #1a1a1a;
  border: 1px solid rgb(160, 160, 255);
  padding: 6px 10px;
  font-size: 18px;
  outline: none;
  color: white;
  width: 94%;
  box-sizing: border-box;
  border-radius: 8px;
}

.explorer li .fileheader {
  display: flex;
  align-items: center;
  gap: 4px;
  justify-content: start;
  width: 90%;
}

.explorer li .fileheader span {
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.explorer li .ellipsis {
  padding: 0;
  border: none;
}

.explorer li form {
  display: flex;
  gap: 7px;
  justify-content: center;
}

.explorer li form button {
  font-size: 17px;
}

.context-menu {
  background-color: #1a1a1a;
  border-radius: 7px;
  min-width: 10px;
}

.context-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
  border-radius: 10px;
}

.context-menu ul li {
  padding: 7px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 4px;
}

.context-menu ul li:hover {
  background-color: #000000;
  cursor: pointer;
}

.fileinput {
  background-color: #1a1a1a;
  padding: 30px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  border: 3px solid rgb(160, 160, 255);
  border-radius: 16px;
  margin-bottom: 4px;
  color: rgb(160, 160, 255);
}

.file {
  color: white;
}

.explorer-form {
  display: flex;
  padding: 0;
  gap: 6px;
  justify-content: center;
  width: 100%;
}

.create-form {
  padding: 8px 0;
}

.explorer-form input {
  width: 100%;
}

.explorer-form button {
  padding: 4px;
  font-size: 18px;
}

.editor {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 0 16px;
  box-sizing: border-box;
  padding-bottom: 20px;
}

.editor textarea {
  width: 100%;
  padding: 0;
  background-color: transparent;
  border: none;
  height: 100%;
  color: white;
  font-size: 16px;
  outline: none;
  resize: none;
  background-color: #1a1a1a;
  border-radius: 16px;
  box-sizing: border-box;
  padding: 16px;
  box-sizing: border-box;
  line-height: 1.6;
}

.editor header {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
  padding: 20px 0;
}

.editor header button {
  font-size: 22px;
  border: none;
}

.editor header .x-div {
  width: 75%;
}

.editor header div h1 {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.image-container {
  height: 100%;
  width: 100%;
}

.image-container img {
  width: 100%;
}

.video-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  overflow: hidden;
}

.video-container video {
  max-width: 100%;
  height: auto;
}

.table-container {
  color: white;
  width: 100%;
  height: 100%;
}

.table-container table {
  width: 100%;
}

.table-container button {
  background-color: #272727;
  border: 1px solid gray;
  border-radius: 4px;
}

.table-container input {
  border: none;
  outline: none;
  margin: 0;
  padding: 4px;
  box-sizing: border-box;
}

.table-container button:hover {
  background-color: #1a1a1a;
}

.markdown {
  width: 100%;
  text-align: left;
  color: white;
  border-radius: 16px;
  background-color: #1a1a1a;
  padding: 16px;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

.markdown p {
  margin: 4px 0;
}

.markdown ul {
  padding: 0 16px;
  margin: 4px 0;
}

.markdown hr {
  color: rgb(199, 199, 199);
}

.errscreen {
  display: flex;
  height: 60vh;
  gap: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.errscreen h1 {
  color: rgb(255, 82, 82);
}

.errscreen button {
  font-size: 20px;
}

.loader {
  animation: spin 1s linear infinite;
}

.selected {
  background-color: #1a1a1a;
}

.topbuttons button {
  font-size: 18px;
  display: flex;
  gap: 4px;
}

.loading-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.login-screen {
  display: flex;
  width: 100%;
  height: 75vh;
  align-items: center;
  justify-content: center;
}

.login-screen form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-width: 350px;
}

.login-screen form label {
  font-size: 22px;
}

.login-screen form input {
  font-size: 24px;
  padding: 4px;
  box-sizing: border-box;
}

.login-screen form button {
  font-size: 22px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 1500px) {
  textarea {
    font-size: 14px;
  }

  .mobile-hidden {
    display: none;
  }

  .topbuttons button {
    font-size: 16px;
  }
  .explorer-form button {
    font-size: 14px;
    padding: 4px;
  }

  .editor header h1 {
    font-size: 22px;
  }

  .editor header button {
    font-size: 16px;
  }
}
